@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: ZingMp3;
  src: url('/src/assets/fonts/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2pL7SUc.woff2');
}

@layer base {
  html {
    font-family: ZingMp3, Arial, Helvetica, sans-serif;
  }

  body {
    font-weight: 400;
    font-size: 14px;
    /* color: #fff; */
  }
}
